<app-main></app-main>
<div class="buscarYAgregar">
    <button id="agregarPx">Agregar Paciente</button>
    <input class="search" type="search" name="searchpx" id="searchpx" placeholder="Buscar">
</div>

<table>
    <thead>
        <tr>
            <th>Paciente</th>
            <th>DNI</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sin resultados</td>
        </tr>
    
        
    </tbody>
    
</table>
