<div class="container">
  <form #formNuevoTurno="ngForm" autocomplete="off" (ngSubmit)="crearTurno(formNuevoTurno)">
    <div class="mb-30">
      <label class="form-label" for="paciente">Paciente</label>
      <app-search-select-px *ngIf="!modalPacienteIsOpen()" (pacienteEmiter)="obtenerPacienteSelect($event)"></app-search-select-px>
    </div>

    <div class="mb-30">
      <label class="form-label" for="especialidad">Especialidad</label>
      <select [(ngModel)]="especialidadSeleccionada" (ngModelChange)="cargarProfesionales($event)" class="selectSeach"
        name="especialidad" id="especialidad">
        <option *ngFor="let esp of especialidades" [ngValue]="esp">{{esp.nombre}}</option>
      </select>
    </div>

    <div *ngIf="!especialidadInvalida()" class="mb-30 animate__animated animate__fadeInDown">
      <label class="form-label" for="profesional">Profesional</label>
      <select [(ngModel)]="profesionalSeleccionado" class="selectSeach" name="profesional" id="profesional">
        <option *ngFor="let prof of profesionales" [ngValue]="prof">Dr.{{prof.apellido}} {{prof.nombre}}</option>
      </select>
    </div>

    <div class="mb-30">
      <label class="form-label" for="fecha">Fecha</label>
      <input #controlFecha="ngModel" type="date" [(ngModel)]="fechaSeleccionada" class="selectSeach" name="fecha" id="fecha">
      <div  *ngIf="fechaInvalida() && controlFecha.touched" class="animate__animated animate__shakeX">
        <span class="span-input-validator"><small>Elija una fecha valida ({{diasDisponibles.split("-")[0] + " a " + diasDisponibles.split("-")[1]  }})</small></span>
      </div>
    </div>

    <div class="mb-30">
      <label class="form-label" for="hora">Hora</label>
      <input #controlHora="ngModel" type="time" [(ngModel)]="horaSeleccionada" class="selectSeach" name="hora" id="hora">
      <div  *ngIf="horaInvalida() && controlHora.touched" class="animate__animated animate__shakeX">
        <span class="span-input-validator"><small>Elija un horario de {{horarioDispobible.split("-")[0] + " a " + horarioDispobible.split("-")[1]}}</small></span>
      </div>
    </div>

    <button [disabled]="formInvalido()">{{modalConDato() ? "Modificar" : "Agregar"}}</button>
    
    <!-- Con fines de pruebas -->
    
    <div>
      PX:{{selectedName | json}} <br>
     <p>---------------------------------</p>
      ESP:{{especialidadSeleccionada | json}} <br>
      <p>---------------------------------</p>
      PROF:{{profesionalSeleccionado | json}} <br>
      <p>---------------------------------</p>
      DATE:{{fechaSeleccionada}} <br>
      <p>---------------------------------</p>
      HOUR:{{horaSeleccionada}} <br>
    </div>
  
  </form>
</div>
