
.componentContainer{
    position: relative;
    height: 100vh;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.3;
}
/* 
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    opacity: 0.3;

} */

.form-container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

form {
    margin-top: 30%;
    padding: 20px;
    background-color: var(--primary);
    border-radius: 10px;
}

label {
    display: flex;
    margin: 20px 0px;
    color:white;

}

input[type="text"], input[type="password"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

button {
    margin: 20px 0px;
    background-color: rgb(26, 178, 229);
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.swal2-popup{
    background-color: rgb(3, 58, 86);
    color: rgba(236, 243, 248, 0.74);
    border-radius: 15px;
}

small{
    margin-left: 10px;
    text-align: left;
}

.containerPadre {
    display: flex;
    align-items: center;
    width: 700px;
    margin: 0px auto 0px auto;
    align-self: center;
}


.containerHijo{

}

video{
    z-index: -1;
}