<app-main></app-main>
<div class="buscarYAgregar">
    <button (click)="agregarTurno()" id="agregarTurno">Agregar Turno</button>

    <!-- Two Way Binding -->
    <input [(ngModel)]="busqueda" (ngModelChange)='getSearch(busqueda)' class="search" type="search" name="search" id="search" placeholder="Buscar" />

    <div id="switchTurno">
        <label for="switch-1">
            Hoy
            <!-- Usando Form Control -->
            <input (click)='onClickSwitch()' type="checkbox" [formControl]="switchTurnos" id="switch-1" name="switch-1" role="switch"/>
            Todos
        </label>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Paciente</th>
            <th>DNI</th>
            <th>Especialidad</th>
            <th>Profesional</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
        <tbody>
            <ng-container *ngFor="let turno of turnos; let i = index">
                <ng-container
                    *ngIf="i == 0 || (turno.fechaHora | date: 'dd/MM/YYYY') !== (turnos[i-1].fechaHora | date: 'dd/MM/YYYY')">
                    <tr class="fecha">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td id="tdFecha">{{turno.fechaHora | date: 'dd/MM/YYYY'}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </ng-container>

                <tr>
                    <td>{{ turno.apellidoPX + " " + turno.nombrePX }}</td>
                    <td>{{ turno.dniPX }}</td>
                    <td>{{ turno.especialidad }}</td>
                    <td>{{ turno.profesional }}</td>
                    <td>{{turno.fechaHora | date: 'dd/MM/YYYY'}}</td>
                    <td>{{turno.fechaHora | date: 'HH:MM'}}</td>
                    <!-- <td>{{ turno.fechaHora.split(" ", 2)[0] }}</td>
                    <td>{{ turno.fechaHora.split(" ", 2)[1].match(regexHora) }}</td> -->
                    <td class="acciones">
                        <i (click)="editarTurno(turno)" class="fa-solid fa-pen"></i>
                    </td>
                    <td class="acciones">
                        <i (click)="eliminarTurno(turno)" class="fa-solid fa-trash"></i>
                    </td>
                </tr>
            </ng-container>
        </tbody>
</table>

<app-new-turn-modal></app-new-turn-modal>