<header>
    <img src="../../assets/Sweet-medica-logo-png.png" alt="">
    <nav>
        <ul>
            <li><a routerLink="/turnos" routerLinkActive="pagActiva">Turnos</a></li> <!-- class="pagActiva" -->
            <li><a routerLink="/pacientes" routerLinkActive="pagActiva">Pacientes</a></li>
            <li><a routerLink="/calendario" routerLinkActive="pagActiva">Calendario</a></li>
            <li><a routerLink="/estadisticas" routerLinkActive="pagActiva">Estadisticas</a></li>
        </ul>
    </nav>
    <div class="user">
        <p>Username</p>
        <script>document.querySelector(".user p").textContent = sessionStorage.getItem("username")</script>
        <img class="userImage" src="https://picsum.photos/200" alt="">
        <i class="fa-solid fa-chevron-down"></i>
    </div>
</header>
