
@import "~@ng-select/ng-select/themes/default.theme.css";

:root{
    --primary: #09526B;
    --secondary: #5AC9EE;
}

.buscarYAgregar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buscarYAgregar button{
    width: auto;
    max-height: 60px;
    background-color: var(--primary);
}

.buscarYAgregar #agregarPx{
    width: 250px;
    height: 100px;
    max-height: 60px;
}
.buscarYAgregar .search{
    width: 70%;
}

#switchTurno{
    position: relative;
    margin-bottom: 20px;
}

.registroTurno{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(43, 52, 52);
    justify-content: space-between;
    text-align: center;
}

a{
    color: var(--secondary);
}

p{
    color: #d6eef6;
}



.swal2-popup{
    border: 5px solid rgb(10, 42, 57);
    width: 70%;
}



thead{
    max-width: 1920px;
}

tbody{
    position: relative;
    
}


.trFecha{
    background-color: #0b1013;
    align-self: center;
    width: 100%;
    height: 100%;

}


tbody tr td p{
    font-size: larger;
    margin: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div .mat-mdc-text-field-wrapper{
    background-color: #11191f !important;
    padding: 0px;
}

div .mat-mdc-text-field-wrapper:hover{
    background-color: #11191f !important;
    padding: 0px;
}

div .mat-focused{
    background-color: #11191f !important;
    padding: 0px;
}

div .mdc-text-field--focused{
    background-color: #11191f !important;
    padding: 0px;
}

mat-form-field{
    background-color: #11191f !important;
    padding: 0px;
}

mat-form-field:hover{
    background-color: #11191f !important;
    padding: 0px;
}

div .mat-mdc-form-field-infix{
    background-color: #11191f !important;
    padding: 0px;
}


div .mat-mdc-form-field-infix:hover{
    background-color: #11191f !important;
    padding: 0px;
}

div .mat-mdc-form-field-wrapper div:hover{
    background-color: #11191f !important;
    padding: 0px;
}

.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text{
    color: white;
    padding: 0px;
}

.mdc-menu-surface{
    background-color: #06394a;
    padding: 0px;
}

div .mdc-line-ripple{
    opacity: 0;
}

div .mat-mdc-text-field-wrapper{
    opacity: 1;
    padding: 0px;
}

.mdc-line-ripple--active{
    opacity: 0;
}

.mat-focused{
    opacity: 1;
    padding: 0px;
}

#mat-input-0{
    border: var(--secondary) 2px solid;
    margin: 0px;
    padding: 20px;
    width: 635.222px;
    height: 27px;
    z-index: -1;
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align.ng-tns-c86-0{
    
}



.ng-select .ng-select-container{
    padding: 14px !important;
    height: calc(60px) !important;
}

.ng-select .ng-select-container .ng-value-container {
    padding-top: 25px !important;
}

.ng-select .ng-clear-wrapper{
    padding-top: 10px !important;
}

.ng-select .ng-arrow-wrapper{
    padding-top: 5px !important;
}


.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color:var(--background-color);
    color: rgb(255, 255, 255);
    padding: 8px 10px;
}

.ng-option.ng-option-selected{
    background-color:#83baed !important;
    color: #333 !important;
}


.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: #83baed;
    color: #333;
}
.ng-option{
    font-size: medium;
    padding: 3px 10px !important;
}


.ng-input input{
    color: #bac5cd !important;

}

.ng-input{
    background-color: var(--background-color) !important;
    z-index: -10;
}

.ng-value-container{
    color:rgb(255, 255, 255) !important;
    background-color: var(--background-color) !important;
    height: 100%;
    z-index: 0;
}

.ng-value span{
    color: #bac5cd;
    background-color: var(--background-color);
    z-index: 999;
    position: absolute;
    top: 22px;
}

.ng-select .ng-select-container {
    background-color: var(--background-color) !important;
}

.swal2-popup {

    background: #141E26 !important;
    border: #06394a solid 2px !important;
    color:#d6eef6 !important;
    
}



